<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>DRINKKIARKISTO</title>
		<meta charset="utf-8" />
		<style>
                @charset "utf-8";
		body {
			background-color:gray;
		}

		#wrapper {
			margin:auto;
			padding:50px;
		}

		#content {
			background-color:white;
			margin:auto;
			width:50%;
			color:black;
			padding:20px;
			overflow:auto;
		}

		h1, h2 {
			color:#33ccff;
		}

		a:link {
			color:#ff9900;
		}

		a:visited {
			color:#ff9900;
		}

		a:hover {
			color:#cc7a00;
		}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<div style="float:left;">
				<h1>DRINKKIARKISTO</h1>
				<h2>Ainekset</h2>
				<ul>
					<li th:each="raakaaine : ${raakaaineet}">
                                            <span th:text="${raakaaine.nimi}">esimerkki</span> (<a th:href="@{~/ainekset/{raakaAineId}/delete(raakaAineId=${raakaaine.id})}">poista</a>)
					</li>
				</ul>
				<h2>Lisää aines</h2>
                                <form method="POST" action="ainekset">
                                    Ainesosan nimi:<br/>
                                    <input type="text" name="nimi"/><br/>
                                    <input type="submit" value="Lisää"/>
                                </form>
                                <a href="/">Palaa etusivulle</a>
				</div>
			</div>
		</div>
	</body>
</html>